.project-card {
  background: black;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.project-image {
  border-radius: 14px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 16px;
}

.project-content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #b44910;
  margin-bottom: 12px;
}

.project-content p {
  font-family: 'Pacifico', cursive;
  font-size: 1rem;
  color: #b44910;
  margin-bottom: 16px;
  line-height: 1.6;
  text-align: center;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.tech-badge {
  background-color: #f3f3f3;
  color: #444;
  font-size: 0.95rem;
  padding: 6px 12px;
  border-radius: 9999px;
  font-family: 'Courier New', monospace;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
}

.project-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: auto;
  padding: 20px;
}

.project-links a {
  font-family: 'Pacifico', cursive;
  color: #db5e1c;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
}

.project-links a:hover {
  color: blue;
}
