.terminal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.terminal-window {
  background-color: #0d0d0d;
  color: #db5e1c;
  font-family: 'Source Code Pro', monospace;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 20px #db5e1c;
  width: 100%;
  max-width: 500px;
  height: 240px;
  overflow-y: auto;
  border: 2px solid #db5e1c;
  line-height: 1.6;
  white-space: pre-wrap;
  position: relative;
  scrollbar-width: none;
  cursor: pointer !important;
}

.terminal-window::-webkit-scrollbar {
  display: none;
}

.terminal-line {
  margin: 0;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
}

.command {
  color: #33ff33;
  font-weight: bold;
}

.terminal-output {
  color: #b6fcb6;
  margin-left: 1rem;
  font-size: 0.92rem;
}

.terminal-input {
  background: transparent;
  border: none;
  color: #33ff33;
  font-family: inherit;
  font-size: 0.95rem;
  outline: none;
  flex: 1;
  padding-left: 0.5rem;
  width: 100%;
}
